@page "/"
@using MakoIoT.Core.Configuration.App.Client.ViewModels

<PageTitle>Index</PageTitle>

@inject DeviceViewModel ViewModel;

<h2>
    <div>Device</div>
</h2>

<div class="">

    <div class="form-group">
        <label for="txtUrl">Device Address</label>
        <input type="text" id="txtUrl" class="form-control" @bind="ViewModel.Url" />
    </div>
    <br/>
    <button class="btn btn-primary" @onclick="ViewModel.Connect">Connect</button>
    <br />
    <br />
    <p>Device Name: @ViewModel.DeviceName</p>
    <p>Manufacturer: @ViewModel.DeviceManufacturer</p>
    <p>Serial No: @ViewModel.DeviceSerialNo</p>
</div>
<br/>
<div class="accordion">
    @foreach (var s in ViewModel.Sections.Where(x=>!x.IsHidden))
    {
        <Section ViewModel="s" />
    }
    <br/>
    <button class="btn btn-primary" @onclick="ViewModel.ExitConfigMode">Exit configuration mode</button>
</div>
