@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 navbar-brand">
            MAKO-IoT Device Configuration
        </div>
        <article class="content px-4">
            <Message/>
            @Body
        </article>

    </main>
</div>
